block variables
	- title = "Photographer Oh,Insook CV";
	- description = "Photographer Oh,Insook CV";

extends modules/baselayout


block content
	div#main.container.main-margin
		h4.oh-color Education
		table.table.table-hover
			thead
				tr
					th(colspan='2') Year
			tbody
				tr
					td 2008- now
					td Researcher of Kang Jaehoon photo research school

				tr
					td 2005
					td Graduated Kang Jaehoon photo school

				tr
					td 1992
					td BA, Department of English Literature and Language, Yonsei University, Seoul, KR

		br
		h4.oh-color Solo Exhibition
		table.table.table-hover
			thead
				tr
					th(colspan='2') Year
			tbody
				tr
					td 2014
					td My husband - city goat, Gallery Rugaheon, Seoul, KR

				tr
					td 2010
					td My twin daughters, Gallery M, Seoul, KR
		br
		h4.oh-color Group Exhibition
		table.table.table-hover
			thead
				tr
					th(colspan='2') Year
			tbody
				tr
					td 2015
					td Women, Gallery Rugaheon, Seoul, KR

				tr
					td 2015
					td Imalsan, Boundary between Past and Present, Enpyung Hankok History Museoum, Seoul, KR

				tr
					td 2015
					td Family Album - floating identity, LIG art space, Seoul, KR

				tr
					td 2014
					td Standing again at the edge of Seoul, Gallery Rugaheon, Seoul, KR

				tr
					td 2009
					td Common people of Korea, Monwhailbo art Hall, Seoul, KR

				tr
					td 2007
					td Looking at Yoeido, the Island in Seoul, Seoul Metro art Hall, Seoul, KR

				tr
					td 2006
					td Photographic Interpretation about the crack of Korean Society, Sejong cultural art hall Kwangwhamoon gallery, Seoul KR
