block variables
	- title = "Photographer Oh,Insook News";
	- description = "Photographer Oh,Insook News";

extends modules/baselayout

block content
	div#photoArtModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		div.modal-dialog(style={'width':'1200px'})
			div.modal-content
				div.modal-body
					img.img-responsive(src='images/news/photoart_orig.jpg')

	div#photoPlusModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		div.modal-dialog.modal-lg
			div.modal-content
				div.modal-body
					div#carousel-photoart.carousel.slide(data-ride='carousel')
						// Indicators
						ol.carousel-indicators
							li.active(data-target='#carousel-photoart', data-slide-to='0')
							li(data-target='#carousel-photoart', data-slide-to='1')
							li(data-target='#carousel-photoart', data-slide-to='2')
						// Wrapper for slides
						div.carousel-inner(role='listbox')
							div.item.active
								img(src='images/news/photoplus/1.jpg', alt='...')
								div.carousel-caption
									| ...
							div.item
								img(src='images/news/photoplus/2.jpg', alt='...')
								div.carousel-caption
									| ...
							div.item
								img(src='images/news/photoplus/3.jpg', alt='...')
								div.carousel-caption
									| ...
						a.left.carousel-control(href='#carousel-photoart', role='button', data-slide='prev')
							span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
							span.sr-only Previous
						a.right.carousel-control(href='#carousel-photoart', role='button', data-slide='next')
							span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							span.sr-only Next


	div#main.container.main-margin
		table.table
			tbody
				tr
					td
						blockquote 사진예술
							small 2015.9월호
					td
						a(href='#')
							img.hvr-grow.work_image(alt='사진예술', src='images/news/photoart.jpg', data-toggle="modal", data-target="#photoArtModal")

				tr
					td
						blockquote MBC 라디오
							h5 이사람이 사는 세상
							small 2015.08.09
					td
						a(href='http://mini.imbc.com/v2/index.html?page=http://www.imbc.com/broad/radio/fm/humanradio/v2/js/jarvis.pagedata.js&channel=0&service=podcast&program=1002788100000100000&src=http://www.imbc.com/broad/radio/fm/humanradio/index.html&ref=https://www.google.co.kr/#http://www.imbc.com/broad/radio/fm/humanradio/v2/js/jarvis.pagedata.js?pid=2497320', target='_black')
							img.hvr-grow.work_image(alt='MBC 라디오', src='images/news/thisman.jpg')

				tr
					td
						blockquote 레이디경향
							h5 오인숙 작가, 카메라로 보니 남편 마음이 보였다.
							small 2015.8월호
					td
						a(href='http://m.news.naver.com/read.nhn?mode=LSD&mid=sec&sid1=103&oid=145&aid=0000013919', target='_black')
							img.hvr-grow.work_image(alt='레이디경향', src='images/news/ladykh.jpg')

				tr
					td
						blockquote 채널예스
							h5 오인숙 “남편을 위로하려고 찍은 사진, 사랑이 보였다”
							small 2015.7월호
					td
						a(href='http://ch.yes24.com/Article/View/28340', target='_black')
							img.hvr-grow.work_image(alt='채널예스', src='images/news/ch24.jpg')

				tr
					td
						blockquote VON megazine
							h5 서울염소 - 남편의 그림자로 찍은 사진
							small 2015.7월호
					td
						a(href='http://www.imagevon.com/VonMagazine.asp?mode=view&pageNow=2&ContentsIdx=1264', target='_black')
							img.hvr-grow.work_image(alt='VON megazine', src='images/news/von.jpg')

				tr
					td
						blockquote 대한사진영상신문
							h5 사진작가 오인숙의 포토에세이 ‘서울 염소’
							small 2015.07.15
					td
						a(href='http://www.photomarketing.co.kr/phome/bbs/board.php?bo_table=interv&wr_id=1043&page=0', target='_black')
							img.hvr-grow.work_image(alt='대한사진영상신문', src='images/news/photomarketing.jpg')

				tr
					td
						blockquote 포토닷, 오마이 뉴스
							h5 한손을 거들어 살림하면서
							small 포토닷 2015.6월호, 사진책 읽기 최종규
					td
						a(href='http://www.ohmynews.com/NWS_Web/View/at_pg.aspx?CNTN_CD=A0002113245', target='_black')
							img.hvr-grow.work_image(alt='포토닷', src='images/press/citygoatbook.jpg')

				tr
					td
						blockquote 여성신문
							h5 사진 속에 그와 나의 이야기 담았죠 - 사진 에세이 『서울염소』펴낸 오인숙 작가
							small 2015.05.27
					td
						a(href='http://www.womennews.co.kr/news/83755', target='_black')
							img.hvr-grow.work_image(alt='여성신문', src='images/news/womennews.jpg')

				tr
					td
						blockquote 주간조선 [2358호]  커버스토리
							h5 [남편으로 산다는 것] 10년간 당신을 카메라에 담았습니다
							h5 ‘사진으로 쓴 남편 이야기’ 오인숙·김종호 부부
							small 2015.05.27
					td
						a(href='http://weekly.chosun.com/client/news/viw.asp?ctcd=C01&nNewsNumb=002358100001', target='_black')
							img.hvr-grow.work_image(alt='주간조선 [2358호]', src='images/news/weeklychosun.jpg')

				tr
					td
						blockquote 경향신문
							h5 [책과 삶]18년 만에 알게 됐다, 있는 그대로의 남편 모습을
							small 2015.05.02
					td
						a(href='http://news.khan.co.kr/kh_news/khan_art_view.html?code=960205&artid=201505012125505', target='_black')
							img.hvr-grow.work_image(alt='경향신문', src='images/news/kh.jpg')

				tr
					td
						blockquote 국민일보
							h5 [책과 길] 아버지… 남편… 자매… 가장 사랑스런 단어 ‘가족’… 
							h5 ‘가정의 달’ 가족 이야기 책 3권
							small 2015.05.08
					td
						a(href='http://news.kmib.co.kr/article/view.asp?arcid=0923066519&code=13150000', target='_black')
							img.hvr-grow.work_image(alt='국민일보', src='images/news/kmib.jpg')

				tr
					td
						blockquote 경인일보
							h5 [눈길끄는 책] 남편의 삶과 방황 필름에 담은 ‘아내의 연정’ 
							h5 중년男 현실기록 포토에세이
							small 2015.05.08
					td
						a(href='http://www.kyeongin.com/main/view.php?key=965253', target='_black')
							img.hvr-grow.work_image(alt='경인일보', src='images/news/kyeongin.jpg')

				tr
					td
						blockquote Photo +
							small 2014.11월호
					td
						img.hvr-grow.work_image(alt='Photo +', src='images/news/photoplus/1.jpg', data-toggle='modal', data-target='#photoPlusModal')
				tr
					td
						blockquote 남편을 10년 동안 사진으로 담은...
							small 사진은 권력이다
					td
						a(href='http://photohistory.tistory.com/14805', target='_black')
							img.hvr-grow.work_image(alt='사진은 권력이다', src='images/news/DSC_8490-2.jpg')
				tr
					td
						blockquote 문화연가 #6. 순간
							small 이화여자대학교 방송국 EUBS
					td
						div.embed-responsive.embed-responsive-4by3
							iframe.hvr-grow(src='https://www.youtube.com/embed/TxEDvaX5P6Q?rel=0', allowfullscreen='', frameborder='0', height='315', width='560')
