extends modules/baselayout

block content
  div#main.container.main-margin
    table.table
      tbody
        tr
          td(style='vertical-align:middle;')
            a(href='http://www.hani.co.kr/arti/ISSUE/124/636325.html', target='_blank')
              img.work_image(src='images/press/fire.jpeg')
          td
            h4
              a(href='http://www.hani.co.kr/arti/ISSUE/124/636325.html', target='_blank') 저 불
              br
              br
              small(style='line-height: 1.42857;') 2014년 4월23일 밤, 같은 시간 같은 나이의 아이들은 세월호에서 수장당하고 있다. 밤늦게까지 불이 꺼지지 않는 경기도 안양의 한 학교 교문에는 ‘오늘보다 내일이 좋은 학교’라고 써 있다. 오늘보다 좋은 내일은 무엇으로 보장되는가? 1993년 서해훼리호 침몰 사고, 1995년 삼풍백화점 붕괴 사고, 1999년 화성 씨랜드 사고, 이루 말로 다 할 수 없는 인재형 사고가 끊이지 않는 나라. 세월이 지나면 세월호 참사도 잊혀져갈 테지만 왜 어쩌자고 이 나라의 책임자들은 반성의 여지는 물론 참회의 여지도 보이지 않는가? 그리고 저 불은 도대체 언제 꺼질까? 미래에 대한 두려움으로 얼마나 더 젊은 청춘들을 가두어야 하는가?
                br
                em 22014.05.09, 한겨레신문
        tr
          td(style='vertical-align:middle;')
            a(href='http://www.hani.co.kr/arti/society/society_general/657086.html', target='_blank')
              img.work_image(src='images/press/darling.jpeg')
          td
            h4
              a(href='http://www.hani.co.kr/arti/society/society_general/657086.html', target='_blank') 자기야 힘내 !
              br
              br
              small(style='line-height: 1.42857;') 거대한 사회구조의 매트릭스 속에서 살아남기 위해 최전선에서 질주하는 우리의 가장들! 한 발자국 거리를 두고 바라보니 그들은 너무나 아파 병이 들어 있었고, 그들이 느끼는 인간적인 소외감은 생각보다 훨씬 더 깊고 컸다. 지난 수년간 사진을 통해 남편의 내면 속 외침을 들으려 애쓰다 보니 그의 인간적인 아픔과 고뇌는 개인적인 문제가 아니라 현대를 살아가는 우리 한국 사회 대다수의 가장들이 외치는 소리였다. 가장이라는 이름으로 불리기 이전에 초라하고 외로운 한 인간, 그들을 있는 그대로의 순수한 인간으로 바라봐주는 것이 그들의 아픔을 치유할 수 있는 시작임을 전하고 싶다.
                br
                em 22014.09.26, 한겨레신문
        tr
          td(style='vertical-align:middle;')
            a(href='http://www.hani.co.kr/arti/society/society_general/671953.html', target='_blank')
              img.work_image(src='images/press/sew.jpeg')
          td
            h4
              a(href='http://www.hani.co.kr/arti/society/society_general/671953.html', target='_blank') 하하호호 뜨개질
              br
              br
              small(style='line-height: 1.42857;') 지난해 여름, 이웃 언니들과 동생들이 식구들 입던 낡은 청바지를 들고 모였다. 조각조각 잘라 이리저리 섞어서 새롭게 구성해보았다. 그리고 한땀 한땀 손바느질로 하하호호 웃음과 수다를 곁들여 완전히 새로운 가방들로 탄생시켰다. 진도 앞바다에서 자식을 잃은 어머니들과 쌍용차 해고 노동자의 아내들에게도 뜨개질만한 진통제가 없다고 들었다. 을미년 새해에도 우리 여인네들의 아픔과 슬픔, 기쁨과 행복을 조각조각 자르고 섞어서 이웃 간에 서로 사랑하고 행복해지기를 소망해 본다.
                br
                em 22015.01.02, 한겨레신문
