extends modules/baselayout

block content
  div#main.container
      table.table
        tbody
          tr
            td
              a(href='#workDetail/0', \='')
                img.work_image(src='images/gallery/citygoat/01.JPG')
            td
              h4 My husband - City goat
              h6.gallery Gallery Rugaheon, Seoul, KR
          tr
            td
              a(href='#workDetail/1', \='')
                img.work_image(src='images/gallery/edge_of_seoul/c1.JPG')
            td
              h4 Standing again at the edge of Seoul
                br
                h6.gallery Gallery Rugaheon, Seoul, KR
          tr
            td
              a(href='#workDetail/2', \='')
                img.work_image(src='images/gallery/twins/b1.JPG')
            td
              h4 My twin daughters
                br
                h6.gallery Gallery M, Seoul, KR
          tr
            td
              a(href='#workDetail/3', \='')
                img.work_image(src='images/gallery/common_people/e1.JPG')
            td
              h4 Common people of Korea
                br
                h6.gallery Monwhailbo art Hall, Seoul, KR
          tr
            td
              a(href='#workDetail/4', \='')
                img.work_image(src='images/gallery/yoeido/d1.JPG')
            td
              h4 Looking at Yoeido, the Island in Seoul
                br
                h6.gallery Seoul Metro art Hall, Seoul, KR
          tr
            td
              a(href='#workDetail/5', \='')
                img.work_image(src='images/gallery/crack/a4.JPG')
            td
              h4 Photographic Interpretation about the crack of Korean Society
                br
                h6.gallery Sejong cultural art hall Kwangwhamoon gallery, Seoul KR
