extends modules/baselayout

block content
  div#main.container.main-margin
      table.table
        tbody
          tr
            td(style={'vertical-align': 'middle'})
              a(href='/works/women')
                img.work_image(src='/images/gallery/women/work.jpg')
            td
              h4 Women
              h6.gallery Gallery Rugaheon, Seoul, KR
          tr
            td
              a(href='/works/imalsan')
                img.work_image(src='/images/gallery/imalsan/work.jpg')
            td
              h4 Imalsan, Boundary between Past and Present
              h6.gallery Enpyung Hankok History Museoum, Seoul, KR 
          tr
            td
              a(href='/works/citygoat')
                img.work_image(src='/images/gallery/citygoat/work.jpg')
            td
              h4 My husband - City goat
              h6.gallery Gallery Rugaheon, Seoul, KR
          tr
            td
              a(href='/works/edge_of_seoul')
                img.work_image(src='/images/gallery/edge_of_seoul/work.jpg')
            td
              h4 Standing again at the edge of Seoul
                br
                h6.gallery Gallery Rugaheon, Seoul, KR
          tr
            td
              a(href='/works/twins')
                img.work_image(src='/images/gallery/twins/work.jpg')
            td
              h4 My twin daughters
                br
                h6.gallery Gallery M, Seoul, KR
          tr
            td
              a(href='/works/common_people')
                img.work_image(src='images/gallery/common_people/work.jpg')
            td
              h4 Common people of Korea
                br
                h6.gallery Monwhailbo art Hall, Seoul, KR
          tr
            td
              a(href='/works/yoeido')
                img.work_image(src='images/gallery/yoeido/work.jpg')
            td
              h4 Looking at Yoeido, the Island in Seoul
                br
                h6.gallery Seoul Metro art Hall, Seoul, KR
          tr
            td
              a(href='/works/crack', \='')
                img.work_image(src='images/gallery/crack/work.jpg')
            td
              h4 Photographic Interpretation about the crack of Korean Society
                br
                h6.gallery Sejong cultural art hall Kwangwhamoon gallery, Seoul KR
