extends modules/baselayout

block content
	div#main.container.main-margin
		table.table
			tbody
				tr
					td(style={'vertical-align': 'middle'})
						a(href='/works/women')
							img.hvr-grow.work_image(alt='Women', src='/images/gallery/women/work.jpg')
					td
						a(href='/works/women')
							h4 Women
						h6.gallery Gallery Rugaheon, Seoul, KR
				tr
					td
						a(href='/works/imalsan')
							img.hvr-grow.work_image(alt='Imalsan, Boundary between Past and Present', src='/images/gallery/imalsan/work.jpg')
					td
						a(href='/works/imalsan')
							h4 Imalsan, Boundary between Past and Present
						h6.gallery Enpyung Hankok History Museoum, Seoul, KR 
				tr
					td
						a(href='/works/citygoat')
							img.hvr-grow.work_image(alt='My husband - City goat', src='/images/gallery/citygoat/work.jpg')
					td
						a(href='/works/citygoat')
							h4 My husband - City goat
						h6.gallery Gallery Rugaheon, Seoul, KR
				tr
					td
						a(href='/works/edge_of_seoul')
							img.hvr-grow.work_image(alt='Standing again at the edge of Seoul', src='/images/gallery/edge_of_seoul/work.jpg')
					td
						a(href='/works/edge_of_seoul')
							h4 Standing again at the edge of Seoul
						h6.gallery Gallery Rugaheon, Seoul, KR
				tr
					td
						a(href='/works/twins')
							img.hvr-grow.work_image(alt='My twin daughters',src='/images/gallery/twins/work.jpg')
					td
						a(href='/works/twins')
							h4 My twin daughters
						h6.gallery Gallery M, Seoul, KR
				tr
					td
						a(href='/works/common_people')
							img.hvr-grow.work_image(alt='Common people of Korea',src='images/gallery/common_people/work.jpg')
					td
						a(href='/works/common_people')
							h4 Common people of Korea
						h6.gallery Monwhailbo art Hall, Seoul, KR
				tr
					td
						a(href='/works/yoeido')
							img.hvr-grow.work_image(alt='Looking at Yoeido, the Island in Seoul', src='images/gallery/yoeido/work.jpg')
					td
						a(href='/works/yoeido')
							h4 Looking at Yoeido, the Island in Seoul
						h6.gallery Seoul Metro art Hall, Seoul, KR
				tr
					td
						a(href='/works/crack', \='')
							img.hvr-grow.work_image(alt='Photographic Interpretation about the crack of Korean Society', src='images/gallery/crack/work.jpg')
					td
						a(href='/works/crack', \='')
							h4 Photographic Interpretation about the crack of Korean Society
						h6.gallery Sejong cultural art hall Kwangwhamoon gallery, Seoul KR
