extends modules/baselayout

block content
  div#main.container
      table.table
        tbody
          tr
            td
              a(href='/works/citygoat')
                img.work_image(src='/images/gallery/citygoat/1.jpg')
            td
              h4 My husband - City goat
              h6.gallery Gallery Rugaheon, Seoul, KR
          tr
            td
              a(href='/works/edge_of_seoul')
                img.work_image(src='/images/gallery/edge_of_seoul/1.jpg')
            td
              h4 Standing again at the edge of Seoul
                br
                h6.gallery Gallery Rugaheon, Seoul, KR
          tr
            td
              a(href='/works/twins')
                img.work_image(src='/images/gallery/twins/1.jpg')
            td
              h4 My twin daughters
                br
                h6.gallery Gallery M, Seoul, KR
          tr
            td
              a(href='/works/common_people')
                img.work_image(src='images/gallery/common_people/1.jpg')
            td
              h4 Common people of Korea
                br
                h6.gallery Monwhailbo art Hall, Seoul, KR
          tr
            td
              a(href='/works/yoeido')
                img.work_image(src='images/gallery/yoeido/1.jpg')
            td
              h4 Looking at Yoeido, the Island in Seoul
                br
                h6.gallery Seoul Metro art Hall, Seoul, KR
          tr
            td
              a(href='/works/crack', \='')
                img.work_image(src='images/gallery/crack/4.jpg')
            td
              h4 Photographic Interpretation about the crack of Korean Society
                br
                h6.gallery Sejong cultural art hall Kwangwhamoon gallery, Seoul KR
